@page
@model IndexModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
=======
    ViewData["Title"] = "HotelBooking";
}
<h1>Bienvenido a HotelBooking</h1>

<div class="text-center">
    <h1 class="display-4">Welcome to HotelBookin</h1>
>>>>>>> test
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
